@import './typograhpy';
@import './theme';
@import './mixin';


// ********** Header Site ***********

// ---- sm & md size header ----
.form-control {
    width: 60vw !important;
}

.inputSearch {
    width: 100% !important;
    border: none !important;
}

.fa-search {
    margin-right: 10px;
    margin-left: 23px !important;
    font-size: 24px !important;
    color: $firstColor;
}

.fa.fa-bars {
    width: 32px;
    height: 22px;
    color: $firstColor;
}

.navbar-toggler {
    padding: 0px !important;
    border: none !important;
    padding-top: 5px !important;
    outline: none !important;
    z-index: 10000;
}

.navbar-brand {
    color: $firstColor !important;
}

.navButton {
    width: 40px !important;
    margin-right: 25px !important;
    @include flex-h;
    align-self: flex-start !important;
    margin-left: 0px !important;
}

.collapse {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #ffffffa1;
    z-index: 10000;
}

.nav-link {
    min-width: 80px !important;
    @include flex-h;
    padding: 1px !important;
    @include fontStyle1;
}

.logo-sm {
    position: absolute;
    top: 55px;
    right: 185px !important;
    width: 72px !important;
    height: 72px !important;
    background-color: $firstColor;
}

.boxLogo-sm {
    position: relative;
    width: 365px;
    height: 192px;
    background-image: url(../images/009_logo_Bg-3.svg);
    background-repeat: no-repeat;
    margin-right: -130px !important;
}

// ----- lg $ xl size header ------

.navMenu-lg {
    padding-left: 0px !important;
    padding-right: 31px !important;
    padding-top: 37px !important;
}

.boxLogo-lg {
    position: relative;
}



.bgLogo-lg {
    width: 406px !important;
    height: 219px !important;
    background-image: url(../images/009_logo_Bg-3.svg);
    background-repeat: no-repeat;
}

.logo-lg {
    position: absolute;
    top: 21px;
    right: 220px !important;
    width: 72px !important;
    height: 72px !important;
    background-color: $firstColor;
}

.tileLogo {
    position: absolute;
    top: 40px;
    right: 300px;
    @include fontTitle1;
    color: $firstColor;
}

.tileLogo-sm {
    @extend .tileLogo;
    right: 265px;
    top: 75px;
}

ul {
    margin: 0px !important;
    padding: 0px !important;
}

li {
    list-style-type: none !important;
}

.btnDownload {
    padding: 0px;
    @include flex;
    @include btn1;
    @include textBtn;
}

.redialWaveHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 383px;
    height: 374px;
    background-image: url(../images/010_header_wave.png);
    background-repeat: no-repeat;
    z-index: -1 !important;
}

.sliderTraveling-lg {
    margin-top: 150px !important;
}

.sliderBox {
    width: 90vw;
}

.slider-betterKnow {
    position: relative;
    width: 834px;
    height: 505px;
    background-image: url(../images/007_slide3_bg.png);
    background-repeat: no-repeat;
}

.titleBetterKnow {
    @include fontTitle2;
    color: $firstColor;
    margin-bottom: 15px !important;
}

.underLine {
    width: 70px;
    height: 3px;
    border-bottom: 1px solid $firstColor;
    position: absolute;
    background-color: $firstColor;
}

.textBetterKnow {
    @include fontStyle1;
    font-size: 14px !important;
    color: var(--black);
    margin-top: 47px !important;
    line-height: 1.71 !important;
}

.bgTraveling-lg {
    position: absolute;
    left: -15px;
    top: -150px;
    width: 503px;
    height: 655px;
    background-image: url(../images/006_slide3_traveling.svg);
    background-repeat: no-repeat;
}

.birdsPic {
    position: absolute;
    left: 355px;
    top: -150px;
    width: 503px;
    height: 655px;
    background-image: url(../images/008_slide3_birds.png);
    background-repeat: no-repeat;
}

.underLine-sm {
    @extend .underLine;
    right: 31px;
    padding: 0px 31px !important;
}

.contentBetterKnow {
    margin-top: 29px !important;
}

.titleBetterKnow-sm {
    @extend .titleBetterKnow;
    font-size: 30px;
    padding: 0px 31px !important;
}

.textBetterKnow-sm {
    @extend .textBetterKnow;
    padding: 0px 31px !important;
}

.sliderTraveling-sm {
    position: relative;
    width: 100vw;
    height: 364px;
    overflow: hidden !important;
    padding: 0px !important;
    padding-bottom: 40px !important;
}

.bgTraveling-sm {
    position: relative;
    width: 550px;
    height: 80%;
    background-image: url(../images/002_slide1_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px !important;

    right: 0px;
}

.picWoman {
    position: absolute;
    width: 239px;
    height: 350px;
    top: -70px;
    left: 5px;
}

.picBallon1 {
    position: absolute;
    width: 42px;
    height: 57px;
    top: 0px;
    right: 54px !important;
}

.picBallon2 {
    position: absolute;
    width: 24px;
    height: 33px;
    top: 50px;
    right: 19px !important;
}

.picBallon3 {
    position: absolute;
    width: 29px;
    height: 39px;
    top: -60px;
    left: 5px !important;
}

// --- Slider control ---

.radioBtns-sm {
    margin-top: 0px !important;
    margin-bottom: -100px !important;
}

.radioBtns-lg {
    margin-top: 63px !important;
    margin-bottom: 54px !important;
}

.radioBtn {
    width: 12px;
    height: 12px;
    background-color: #bdbdbd;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    margin-left: 9px !important;
    margin-right: 9px !important;
}

.activRadioBtn {
    width: 24px;
    height: 12px;
    border-radius: 6px;
    background-color: #ff7043;
    border: none;
    cursor: pointer;
    margin-right: 7px !important;
}


// ---- Waves Of Sea ----
.boxWaves {
    width: 100vw !important;
}

// ---- Reserve Content ----

.reserveContent {
    overflow-x: hidden;
    margin-top: 0px !important;
}

.optionButtons {
    margin-bottom: 30px !important;
}

.optionReserve {
    width: 72px;
    height: 72px;
    background-color: rgb(255, 255, 255);
    border: 2px solid $firstColor;
    box-sizing: border-box !important;
    background: white;
    @include flex;
}

.rowOption {
    width: 17px !important;
    height: 53px !important;
}

.lineCenter {
    border-left: none;
}

span[class*=icon] {
    width: 40px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    opacity: 0.9;
    background: $colorIcon1;
    background: $colorIcon2;
    background: $colorIcon3;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

.backFlyIcon {
    background-color: $thirdColor !important;

}

.screenMobile {
    width: 300px;
    height: 587px;
    margin-bottom: 61px !important;
}

.titleReserve {
    @extend .titleBetterKnow;
    font-size: 26px !important;
    margin-bottom: 31px !important;
}

.textReserve {
    @include fontStyle1;
    font-size: 13px !important;
    padding-left: 20px !important;
    padding-right: 31px !important;
}


// ------- Downloads Section --------
.downloadContent{
    box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
    border-radius: 15px; 
}

.backgroundPic {
    position: absolute;
    background-image: url(../images/020_dlbox_bg2.svg);
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100vw;
    height: 231px;
    left: 0px !important;
    margin-top: 80px !important;
}

.picDownload {
    width: 100px;
    height: 88px;
    margin-top: 30px !important;
    background-image: url(../images/021_dlbox_icon_download.svg);
    background-repeat: no-repeat;
}

.downloadTitle {
    margin-top: 47px !important;
    @include fontTitle1;
    color: $firstColor;
    margin-bottom: 18px !important;
}

.describeDownload {
    height: auto;
    margin-bottom: 0px !important;
    @include fontStyle1;
    margin-bottom: 33px !important;
}

.inputMobile {
    padding-left: 10px !important;
    margin: 0px !important;
    border-radius: 25px;
    border: none;
    border: solid 1px #eeeeee;
    background-color: #fafafa;
}

.inputMobile::placeholder {
    color: #9e9e9e;
}

.downloadButton {
    margin-top: 21px !important;
    width: 140px;
    height: 50px;
    @include btn1;
    font-weight: bold;
    cursor: pointer;
    margin-top: 21px;
    color: white;
}

.describeDownload-2 {
    @include fontStyle1;
    margin-bottom: 14px !important;
    margin-top: 55px !important;
}

.btnDownLink {
    margin-left: 0px !important;
}

.downloadLink {
    width: 160px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
    background-image: linear-gradient(to top, $firstColor, $secondColor);
    cursor: pointer;
    cursor: pointer;
    margin-bottom: 30px !important;
    @include fontStyle1;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.whiteIcon {
    width: 23px;
    height: 24px;
    color: white;
    margin-left: 10px !important;
}

.bazarIcon {
    width: 34px;
    height: 38px;
    margin-left: 10px !important;
}