// Bace Colors
$firstColor : rgb(33, 155, 236);


// ********** Header Site ***********

// ---- sm & md size header ----
.header{
    box-shadow:2px 2px 15px #e4e4e4; 
    height: 80px;
}

.navbar{
    height: 100%;
}

.form-control{
    width: 60vw !important;
}

.inputSearch {
    width: 100% !important;
    border: none !important;
}

.fa-search {
    margin-right: 10px;
    margin-left: 23px;
    font-size: 24px !important;
    color: $firstColor ;
}

.fa.fa-bars{
    width: 32px;
    height: 22px;
    color: $firstColor ;
}

.navbar-toggler {
    padding: 0px !important;
    border: none !important;
    padding-top: 5px !important;
    outline: none !important;
}

.navbar-brand{
    color: $firstColor !important;
}

.navButton {
    width: 40px !important;
    margin-right: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-self: flex-start !important;
    margin-left: 0px !important;
}

.collapse{
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #ffffffa1;
}

.nav-link{
    width: 90px !important;
    display: flex !important;
    justify-content: center !important;
    padding: 2px !important;
    font-size: 14px;
}



