@import './typograhpy';
@import './theme';
@import './mixin';


// ********** Header Site ***********

// ---- sm & md size header ----
.form-control {
    width: 60vw !important;
}

.inputSearch {
    width: 100% !important;
    border: none !important;
}

.fa-search {
    margin-right: 10px;
    margin-left: 23px !important;
    font-size: 24px !important;
    color: $firstColor;
}

.fa.fa-bars {
    width: 32px;
    height: 22px;
    color: $firstColor;
}

.navbar-toggler {
    padding: 0px !important;
    border: none !important;
    padding-top: 5px !important;
    outline: none !important;
    z-index: 10000;
}

.navbar-brand {
    color: $firstColor !important;
}

.navButton {
    width: 40px !important;
    margin-right: 25px !important;
    @include flex-h;
    align-self: flex-start !important;
    margin-left: 0px !important;
}

.collapse {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #ffffffa1;
    z-index: 10000;
}

.nav-link {
    min-width: 80px !important;
    @include flex-h;
    padding: 1px !important;
    @include fontStyle1;
}

.logo-sm {
    position: absolute;
    top: 55px;
    right: 185px !important;
    width: 72px !important;
    height: 72px !important;
    background-color: $firstColor;
}

.boxLogo-sm {
    position: relative;
    width: 365px;
    height: 192px;
    background-image: url(../images/009_logo_Bg-3.svg);
    background-repeat: no-repeat;
    margin-right: -130px !important;
}

// ----- lg $ xl size header ------

.navMenu-lg {
    padding-left: 0px !important;
    padding-right: 31px !important;
    padding-top: 37px !important;
}

.boxLogo-lg {
    position: relative;
}



.bgLogo-lg {
    width: 406px !important;
    height: 219px !important;
    background-image: url(../images/009_logo_Bg-3.svg);
    background-repeat: no-repeat;
}

.logo-lg {
    position: absolute;
    top: 21px;
    right: 220px !important;
    width: 72px !important;
    height: 72px !important;
    background-color: $firstColor;
}

.tileLogo {
    position: absolute;
    top: 40px;
    right: 300px;
    @include fontTitle1;
    color: $firstColor;
}

.tileLogo-sm {
    @extend .tileLogo;
    right: 265px;
    top: 75px;
}

ul {
    margin: 0px !important;
    padding: 0px !important;
}

li {
    list-style-type: none !important;
}

.btnDownload {
    padding: 0px;
    @include flex;
    @include btn1;
    @include textBtn;
}

.redialWaveHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 383px;
    height: 374px;
    background-image: url(../images/010_header_wave.png);
    background-repeat: no-repeat;
    z-index: -1 !important;
}

.sliderTraveling-lg{
    margin-top: 150px !important;
}

.sliderBox {
    width: 90vw;
}

.slider-betterKnow {
    position: relative;
    width: 834px;
    height: 505px;
    background-image: url(../images/007_slide3_bg.png);
    background-repeat: no-repeat;
}

.slider-betterKnow img {
    width: 734px;
    height: 405px;
}

.titleBetterKnow {
    @include fontTitle2;
    color: $firstColor;
    margin-bottom: 15px !important;
}

.underLine {
    width: 70px;
    height: 3px;
    border-bottom: 1px solid $firstColor;
    position: absolute;
    background-color: $firstColor;
}

.textBetterKnow {
    @include fontStyle1;
    font-size: 14px !important;
    color: var(--black);
    margin-top: 47px !important;
    line-height: 1.71 !important;
}

.bgTraveling-lg {
    position: absolute;
    left : -15px;
    top: -150px;
    width: 503px;
    height: 655px;
    background-image: url(../images/006_slide3_traveling.svg);
    background-repeat: no-repeat;
}

.birdsPic{
    position: absolute;
    left : 355px;
    top: -150px;
    width: 503px;
    height: 655px;
    background-image: url(../images/008_slide3_birds.png);
    background-repeat: no-repeat;
}