* {
    padding: 0px !important;
    margin: 0px !important;
}

body {
    direction: rtl;
    overflow: hidden !important;
}

// ****** Header ******
.header {
    box-shadow: 2px 2px 15px #e4e4e4;
    height: 80px;
    direction: ltr;
}

.navbar {
    height: 100%;
}

.linkMenu {
    width: 80px !important;
}

@media (min-width: 992px) {
    .bgLogo-lg {
        margin-right: -180px;
    }

    .slider-betterKnow {
        width: 700px !important;
        height: 450px !important;
    }
}

@media (max-width: 1200px) {
    .navMenu-lg {
        padding-right: 0px !important;
    }
}

@media (min-width: 1200px) {
    .sliderBox {
        width: 95vw;
        padding-right: 150px !important;
    }
}

@media (min-width: 1400px) {
    .sliderBox {
        width: 85vw;
        padding-right: 150px !important;
    }
}

@media (min-width: 1800px) {
    .sliderBox {
        width: 70vw;
        padding-right: 150px !important;
    }
}





.slider-sm {
    float: left;
}