* {
    padding: 0px !important;
    margin: 0px !important;
}

body {
    direction: rtl;
    overflow-x: hidden !important;
}

// ****** Header ******
.header {
    box-shadow: 2px 2px 15px #e4e4e4;
    height: 80px;
    direction: ltr;
}

.navbar {
    height: 100%;
}

.linkMenu {
    width: 80px !important;
}




@media (min-width: 992px) {
    .bgLogo-lg {
        margin-right: -180px;
    }

    .slider-betterKnow {
        width: 700px !important;
        height: 450px !important;
    }

    .rowOption {
        width: auto !important;
        height: 53px !important;
    }

    .lineCenter {
        border-left: 2px solid $firstColor;
    }

    .reserveContent {
        margin-top: -70px !important;
    }

    .optionButtons {
        margin-bottom: 0px;
    }

    .screenMobile {
        width: 383px;
        height: 750px;
        margin-bottom: 0px !important;
    }

    .textReserve {
        padding: 0px !important;
    }

    .titleReserve {
        margin-bottom: 41px !important;
    }

    .describeDownload-2 {
        margin-bottom: 42px !important;
    }

    .downloadButton {
        margin-top: 0px !important;
        margin-right: -40px !important;
    }

    .downloadLink {
        margin-left: 30px !important;

        z-index: 1000000;
    }

    .boxButton {
        margin-bottom: -55px !important;
    }

    .downloadTitle {
        padding-top: 29px !important;
        margin-top: 0px !important;
    }

    .describeDownload {
        margin-bottom: 24px !important;
    }

    .describeDownload-2 {
        margin-top: 48px !important;
    }

    .picDownload {
        position: absolute;
        right: 60px !important;
        top: 74px;
        width: 128px;
        height: 112px;
    }
}

@media (max-width: 1200px) {
    .navMenu-lg {
        padding-right: 0px !important;
    }
}

@media (min-width: 1200px) {
    .sliderBox {
        width: 95vw;
        padding-right: 150px !important;
    }

    .titleReserve {
        font-size: 30px !important;
    }

    .textReserve {
        max-width: 450px !important;
    }

    .reserveContent {
        margin-top: -80px !important;
    }
}

@media (min-width: 1400px) {
    .sliderBox {
        width: 85vw;
        padding-right: 150px !important;
    }

    .reserveContent {
        margin-top: -140px !important;
    }
}

@media (min-width: 1800px) {
    .sliderBox {
        width: 70vw;
        padding-right: 150px !important;
    }
}